14级集训队讨论会2--Stack&Queue'.md
2014 一起来做日历吧'.md
Codeforces Round #216 (Div. 2) A Valera and Plates'.md
Codeforces Round #216 (Div. 2) B Valera and Contest'.md
Codeforces Round #216 (Div. 2) C Valera and Elections'.md
N!的非零位求法以及末尾零的个数的求法'.md
POJ 1325  ZOJ 1364 Machine Schedule'.md
ZOJ 2167  POJ 1981 Circle and Points'.md
ZOJ 3775 (_o)'.md
ZOJ Monthly  January 2014 F (模拟)'.md
[转] 博弈论 —— 游戏图与 SG 函数'.md
